<launch>
  <include file="$(find asv_simulator)/launch/default.launch">
    <arg name="waypoint_file" value="$(find asv_simulator)/config/waypoints/asv_head_on_and_crossing.yaml" />
    <arg name="initial_state" value="[0.0, 0.0, 1.56, 4.,0.,0.]" />
    <arg name="u_d" value="4.0" />
  </include>

  <!-- Obstacle ship -->
  <include file="$(find asv_simulator)/launch/default.launch">
    <arg name="waypoint_file" value="$(find asv_simulator)/config/waypoints/ship1_head_on_and_crossing.yaml" />
    <arg name="use_vo" value="False" />
    <arg name="vessel_model_file" value="$(find asv_simulator)/config/models/ship1.urdf" />
    <arg name="namespace" value="obstacles/ship1" />
    <arg name="shipname" value="ship1" />
    <arg name="initial_state" value="[150.0, 300.0, 3.14, 1.,0.,0.]" />
    <arg name="u_d" value="3." />
  </include>

  <!-- Obstacle ship -->
  <include file="$(find asv_simulator)/launch/default.launch">
    <arg name="waypoint_file" value="$(find asv_simulator)/config/waypoints/ship2_head_on_and_crossing.yaml" />
    <arg name="use_vo" value="False" />
    <arg name="vessel_model_file" value="$(find asv_simulator)/config/models/ship2.urdf" />
    <arg name="namespace" value="obstacles/ship2" />
    <arg name="shipname" value="ship2" />
    <arg name="initial_state" value="[-150.0, 50.0, 1., 1.,0.,0.]" />
    <arg name="u_d" value="3.0" />
  </include>


  <!-- <param name="wave_filter_gain" value="60." /> -->
  <include file="$(find asv_obstacle_tracker)/launch/default.launch"/>


  <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(find asv_simulator)/config/rviz/three_vessels.rviz" />


  <node pkg="rosbag"
        type="record"
        name="rosbag_record"
        args="-O /home/thomas/Dropbox/NTNU/master/code/python/bagfiles/head_on_and_crossing_waves2.bag /asv/state /asv/wave_noise /obstacle_states /obstacles/ship1/state /obstacles/ship1/wave_noise /obstacles/ship2/state /obstacles/ship2/wave_noise"
        />


  <!-- <node pkg="rosbag" -->
  <!--       type="record" -->
  <!--       name="rosbag_record" -->
  <!--       args="-O /home/thomas/Dropbox/NTNU/master/code/python/bagfiles/head_on_and_crossing.bag /asv/state /obstacle_states /obstacles/ship1/state /obstacles/ship2/state" -->
  <!--       /> -->

</launch>
