<launch>
  <include file="$(find asv_simulator)/launch/default.launch">
    <arg name="waypoint_file" value="$(find asv_simulator)/config/waypoints/asv_overtaking.yaml" />
    <arg name="initial_state" value="[-150.0, 150.0, 0.0, 3.0, 0.,0.]" />
    <arg name="u_d" value="3.0" />
  </include>

  <!-- Obstacle ship -->
  <include file="$(find asv_simulator)/launch/default.launch">
    <arg name="waypoint_file" value="$(find asv_simulator)/config/waypoints/ship1_overtaking.yaml" />
    <arg name="use_vo" value="False" />
    <arg name="vessel_model_file" value="$(find asv_simulator)/config/models/ship1.urdf" />
    <arg name="namespace" value="obstacles/ship1" />
    <arg name="shipname" value="ship1" />
    <arg name="initial_state" value="[-130.0, 155.0, 0, 2.,0.,0.]" />
    <arg name="u_d" value="1.0" />
  </include>

  <include file="$(find asv_obstacle_tracker)/launch/default.launch"/>

  <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(find asv_simulator)/config/rviz/two_vessels.rviz" />

  <!-- <node pkg="rosbag" -->
  <!--       type="record" -->
  <!--       name="rosbag_record" -->
  <!--       args="-O /home/thomas/Dropbox/NTNU/master/code/python/bagfiles/overtaking.bag /asv/state /obstacles/ship1/state" -->
  <!--       /> -->
</launch>
